{% extends "themes/base.html.twig" %}

{% block main %}
	<h1 class="text-center my-3">
		<i class="fa-regular fa-rectangle-list"></i>
		Livres
	</h1>

	<div class="d-flex justify-content-start m-5">
		<a href="{{ path('app.create') }}" class="btn btn-outline-primary">
			<i class="fa-regular fa-newspaper px-1"></i>Nouveau livre</a>
	</div>

	{% if livres|length == 0 %}
		<p class="mt-5 text-center">Aucun livre</p>
	{% else %}
		<div class="table-responsible">
			<table class="table table-striped table-hover table-bordered text-center">
				<thead class="bg-agenda text-white">
					<tr>
						<th>Id</th>
						<th>Titre</th>
						<th>Genre</th>
						<th>Auteur</th>
						<th>note</th>
                        <th>Options</th>
					</tr>
				</thead>
				<tbody>
					{% for livre in livres %}
						<tr>
							<td>{{ livre.id }}</td>
							<td>{{ livre.titre }}</td>
							<td>{{ livre.genre }}</td>
							<td>{{ livre.auteur }}</td>
							<td>{{ livre.note }}</td>
							<td>
								<a href="{{ path('app.show', {'id':livre.id}) }}" class="text-dark m-1">
									<i class="fa-solid fa-eye"></i>
								</a>
								<a href="{{ path('app.edit', {'id':livre.id}) }}" class="text-secondary m-1">
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
								<a onclick="event.preventDefault(); confirm('Confirmer la suppression ') && document.querySelector('#delete_{{ livre.id }}').submit()" href="#" class="text-danger m-1">
									<i class="fa-solid fa-trash-can"></i>
								</a>
								<form method="POST" id="delete_{{livre.id}}" action="{{ path('app.delete', {'id': livre.id}) }}">
									<input type="hidden" name="csrf_token" value="{{ csrf_token('delete_'~livre.id) }}"/>
									<input type="hidden" name="_method" value="DELETE"/>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
{% endblock %}
